<% if @chapters %>
  <% @chapters.each do |c| %>
    <ul>
      <%= link_to "Chapter #{c}", chapter_path(c) %>
    </ul>
  <% end %>
<% elsif @sections %>
  <h3>Chapter <%=params[:id]%></h3>
  <% @sections.each do |s| %>
    <ul>
      <%= link_to s, File.join(root_url,s) %>
    </ul>
  <% end %>
<% end %>
